ErrorDocument 404 http://10.10.50.123/wartank/error.php

RewriteEngine On

RewriteRule ^about?$ about.php [L,QSA]
RewriteRule ^acceptlink?$ acceptlink.php [L,QSA]
RewriteRule ^angar?$ angar.php [L,QSA]
RewriteRule ^battle?$ battle.php [L,QSA]
RewriteRule ^buildings?$ buildings.php [L,QSA]
RewriteRule ^buyFuell?$ buyFuell.php [L,QSA]
RewriteRule ^company?$ company.php [L,QSA]
RewriteRule ^company_missions?$ company_missions.php [L,QSA]
RewriteRule ^createtopic?$ createtopic.php [L,QSA]
RewriteRule ^f?$ f.php [L,QSA]
RewriteRule ^forum?$ forum.php [L,QSA]
RewriteRule ^fuel?$ fuel.php [L,QSA]
RewriteRule ^hq?$ hq.php [L,QSA]
RewriteRule ^index?$ index.php [L,QSA]
RewriteRule ^login?$ login.php [L,QSA]
RewriteRule ^Mine?$ Mine.php [L,QSA]
RewriteRule ^missions?$ missions.php [L,QSA]
RewriteRule ^newcompany?$ newcompany.php [L,QSA]
RewriteRule ^newstore-germany?$ newstore-germany.php [L,QSA]
RewriteRule ^newstore-usa?$ newstore-usa.php [L,QSA]
RewriteRule ^newstore-ussr?$ newstore-ussr.php [L,QSA]
RewriteRule ^online?$ online.php [L,QSA]
RewriteRule ^pimp?$ pimp.php [L,QSA]
RewriteRule ^polygon?$ polygon.php [L,QSA]
RewriteRule ^power?$ power.php [L,QSA]
RewriteRule ^ProcessCreate?$ ProcessCreate.php [L,QSA]
RewriteRule ^profile?$ profile.php [L,QSA]
RewriteRule ^rating?$ rating.php [L,QSA]
RewriteRule ^reg?$ reg.php [L,QSA]
RewriteRule ^regsucc?$ regsucc.php [L,QSA]
RewriteRule ^rejectLink?$ rejectLink.php [L,QSA]
RewriteRule ^see?$ see.php [L,QSA]
RewriteRule ^topic?$ topic.php [L,QSA]
RewriteRule ^training?$ training.php [L,QSA]
RewriteRule ^up-fuel?$ up-fuel.php [L,QSA]
RewriteRule ^up-mine?$ up-mine.php [L,QSA]
RewriteRule ^up-polygon?$ up-polygon.php [L,QSA]
RewriteRule ^uprage?$ uprage.php [L,QSA]
RewriteRule ^vip?$ vip.php [L,QSA]
RewriteRule ^tutor/1?$ tutor/1.php [L,QSA]
RewriteRule ^tutor/2?$ tutor/2.php [L,QSA]
RewriteRule ^tutor/3?$ tutor/3.php [L,QSA]
RewriteRule ^pve?$ pve.php [L,QSA]
RewriteRule ^pvepast?$ pvepast.php [L,QSA]
RewriteRule ^pm?$ pm.php [L,QSA]
RewriteRule ^dialog?$ dialog.php [L,QSA]
RewriteRule ^convoy?$ convoy.php [L,QSA]
RewriteRule ^skills?$ skills.php [L,QSA]
RewriteRule ^pvp?$ pvp.php [L,QSA]




RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ custom_error_page.php [L,QSA]
